html{
    height: 100%;
}

body{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif, Arial;
    color: rgb(60, 60, 60);
    height: 100%;
    position: relative;
}

input,
textarea{
    font-size: 0.9em;
    padding: 10px;
    outline: none;
}

.icon-container{
    position: relative;
}

.icon-container > img{
    position: absolute;
    margin: auto;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 60%;
    width: 60%;
    z-index: 10;
}

.animate2s{
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.animate3s{
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.animate4s{
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.animate6s{
    -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
}

div.preloader-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 100;
}

div.inactive{
    display: none;
}

.cssload-container {
    width: 100%;
    height: 49px;
    text-align: center;
    position: absolute;
    margin: auto;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
}

.cssload-speeding-wheel {
    width: 49px;
    height: 49px;
    margin: 0 auto;
    border: 3px solid darkcyan;
    border-radius: 50%;
    border-left-color: transparent;
    border-right-color: transparent;
    animation: cssload-spin 575ms infinite linear;
    -o-animation: cssload-spin 575ms infinite linear;
    -ms-animation: cssload-spin 575ms infinite linear;
    -webkit-animation: cssload-spin 575ms infinite linear;
    -moz-animation: cssload-spin 575ms infinite linear;
}

@keyframes cssload-spin {
    100%{ transform: rotate(360deg); transform: rotate(360deg); }
}

@-o-keyframes cssload-spin {
    100%{ -o-transform: rotate(360deg); transform: rotate(360deg); }
}

@-ms-keyframes cssload-spin {
    100%{ -ms-transform: rotate(360deg); transform: rotate(360deg); }
}

@-webkit-keyframes cssload-spin {
    100%{ -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

@-moz-keyframes cssload-spin {
    100%{ -moz-transform: rotate(360deg); transform: rotate(360deg); }
}

#map-canvas{
    position: relative;
    margin-left: 600px;
    height: 100%;
    background-color: white;
    border-left: 1px solid rgb(200, 200, 200);
    z-index: 100;
}

#twitplot-data{
    position: absolute;
    left: 300px;
    top: 0;
    width: 300px;
    height: 100%;
    overflow-y: auto;
    z-index: 50;
}

#twitplot-controls{
    position: absolute;
    left: 0;
    top: 0;
    width: 300px;
    height: 100%;
    background-color: white;
    overflow-y: auto;
    z-index: 100;
    box-shadow: 10px 0px 5px -11px rgb(100, 100, 100);
}

#app-id{
    margin: 20px 0px 0px 0px;
    font-size: 1.8em;
    font-weight: bold;
    text-align: center;
    letter-spacing: 0.1em;
}

div.app-id-gutter{
    width: 20%;
    margin: 10px 40% 20px 40%;
    border: 1px solid rgb(220, 220, 220);
}

.control-header{
    width: 90%;
    margin: 0 5% 0 5%;
    height: 30px;
}

.control-icon{
    float: left;
    width: 30px;
    height: 30px;
}

.control-label{
    float: left;
    max-width: 200px;
    margin: 7px 0px 0px 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 0.9em;
}

.control-content{
    background-color: rgb(240, 240, 240);
    min-height: 50px;
    border: 1px solid rgb(220, 220, 220);
    border-width: 1px 0px 1px 0px;
    margin: 5px 0px 30px 0px;
    position: relative;
}

.sub-control-header{
    font-size: 0.8em;
    font-weight: bold;
    color: rgb(120, 120, 120);
    margin: 20px 0px 0px 20px;
}

#s-div{
    margin-top: 20px;
    text-align: center;
}

#search-type-div{
    width: 90%;
    display: inline-block;;
    text-align: left;
    padding: 5px;
    padding-bottom: 0px;
}

#search-div{
    margin: 15px 15px 0px 15px;
    background-color: white;
    border: 1px solid rgb(220, 220, 220);
    border-bottom-width: 0px;
    padding: 8px 8px 0px 8px;
}

.search-entry{
    display: inline-block;
    color: white;
    margin: 0px 8px 8px 0px;
    font-weight: lighter;
    font-size: 0.9em;
    outline: none;
    position: relative;
}

.search-entry-text{
    padding: 5px 5px 5px 30px;
}

.search-entry-x{
    position: absolute;
    left: 0px;
    height: 100%;
    width: 25px;
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.search-entry-x:hover{
    background-color: rgba(0, 0, 0, 0.3);
}

.search-entry-x > img{
    width: 40%;
    height: 40%;
}

#sparam-form{
    display: inline-block;
}

#search-param-input{
    background-color: inherit;
    border: none;
    padding: 0px 0px 0px 5px;
    margin: 0px 4px 8px 0px;
    font-size: 0.9em;
    border-left: 1px solid rgb(200, 200, 200);
}

.hashtag-search{
    background-color: olivedrab;
}

.creator-search{
    background-color: indianred;
}

.mention-search{
    background-color: darkcyan;
}

.generic-search{
    background-color: darkgoldenrod;
}

div.content-gutter{
    border-top: 1px solid rgb(220, 220, 220);;
}

#refresh-box{
    margin: 0px 15px 15px 15px;
    background-color: white;
    border: 1px solid rgb(220, 220, 220);
    border-top-width: 0px;
    padding: 8px;
}

#refresh-notif{
    padding: 2px;
    font-size: 0.9em;
}

#refresh-button-icon{
    width: 20%;
    height: 100%;
    float: left;
    background-color: gray;
}

input[type=button].generic-button{
    background-color: darkcyan;
    color: white;
    font-size: 0.9em;
    border: none;
    padding: 5px 10px 5px 10px;
    font-weight: lighter;
    outline: none;
}

input[type=button].inactive{
    background-color: rgb(150, 150, 150);
}

div.conf-list-container{
    margin: 10px 15px 15px 15px;
    background-color: white;
    border: 1px solid rgb(220, 220, 220);
    border-bottom-width: 0px;
}

div.conf-entry{
    height: 40px;
    border-bottom: 1px solid rgb(220, 220, 220);
}

div.conf-label{
    float: left;
    width: 70%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 12px 0px 0px 10px;
    font-size: 0.85em;
    color: rgb(100, 100, 100);
}

div.conf-action{
    float: right;
    width: 20%;
    height: 100%;
    position: relative;
}

div.conf-action > div{
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

div.modern-toggle{
    height: 16px;
    width: 30px;
    border-radius: 8px;
    cursor: pointer;
    background-color: rgb(200, 200, 200);
}

div.modern-toggle > div{
    height: 16px;
    width: 16px;
    border-radius: inherit;
    background-color: white;
    border: 1px solid rgb(200, 200, 200);
}

div.on{
    background-color: seagreen;
}

div.off{
    background-color: rgb(200, 200, 200);
}

div.on > div{
    margin-left: 14px;
    border: 1px solid seagreen;
}

div.off > div{
    margin-left: 0px;
}

#data-header{
    text-align: center;
    padding: 25px 20px 10px 20px;
    font-weight: bold;
}

#search-result-info{
    width: 90%;
    margin: 0% 5% 10px 5%;
    font-size: 0.9em;
}

#search-result-info > b{
    color: darkcyan;
}

#tweets-list{
    width: 90%;
    margin: 0% 5% 0% 5%;
    border-bottom: 1px solid rgb(220, 220, 220);
}

.tweet-box{
    width: 100%;
    height: 100%;
    display: inline-block;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border: 1px solid rgb(220, 220, 220);
    border-width: 1px 0px 0px 0px;
    /*box-shadow: 0 2px 10px -6px rgb(100, 100, 100);*/
}

.user-head{
    width: 100%;
    height: 40px;
    text-align: left;
}

.user-avatar{
    float: left;
    width: 40px;
    height: 40px;
    border-radius: 25px;
    background-color: olivedrab;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.user-handle{
    color: rgb(150, 150, 150);
    font-size: 0.9em;
}

.tweet-body {
    text-align: left;
    width: 80%;
    margin-top: 5px;
    float: right;
    word-wrap: break-word;
    font-size: 0.9em;
}

.hashtags{
    color: darkcyan;
}

.col-20{
    height: 100%;
    width: 20%;
    float: left;
}

.col-80{
    height: 100%;
    width: 80%;
    float: left;
}

div.tweet-location-box{
    margin: 10px 0 0 20%;
    float: left;
    height: 25px;
    background-color: rgb(240, 240, 240);
    cursor: pointer;
}

div.tweet-location-box:hover{
    background-color: rgb(220, 220, 220);
}

div.tweet-location-icon{
    float: left;
    height: 25px;
    width: 25px;
}

div.tweet-location-text{
    float: left;
    padding: 5px 10px 5px 0px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 0.85em;
    color: indianred;
    max-width: 85%;
}