<!doctype html>
<html lang="en" ng-app="Twitplot">
<head>
    <meta charset="utf-8">
    <title>Twitplot</title>
</head>
<body ng-controller="MainController">

<div id="twitplot-controls">
    <div id="app-id">Twitplot</div>
    <div class="app-id-gutter"></div>

    <div class="control-header">
        <div class="control-icon icon-container"><img src="images/search.svg"/></div>
        <div class="control-label">Search Parameters</div>
    </div>

    <div class="control-content">
        <div id="search-div">
            <div ng-repeat="q in searchParameters track by $index" class="search-entry {{ q.type }}-search">
                <div class="icon-container search-entry-x" ng-click="deleteSearchParam($index)"><img src="images/wrong.svg"/></div>
                <div class="search-entry-text">{{ q.entry }}</div>
            </div>
            <form ng-submit="validateSearchParam()" id="sparam-form">
                <input id="search-param-input" type="text" placeholder="Add Search..." ng-model="inputParameter"/>
            </form>
        </div>
        <div id="refresh-box">
            <p id="refresh-notif">The search parameters have changed.</p>
        </div>
    </div>

    <div class="control-header">
        <div class="control-icon icon-container"><img src="images/settings.svg"/></div>
        <div class="control-label">Settings</div>
    </div>
    <div class="control-content">
        <div class="sub-control-header">WHAT TO PLOT</div>
        <div class="conf-list-container">
            <div class="conf-entry" ng-repeat="locSetting in locationSettings">
                <div class="conf-label">{{ locSetting.name }}</div>
                <div class="conf-action">
                    <modern-toggle state="off" title="toggle this"></modern-toggle>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="twitplot-data">
    <div id="data-header">FOUND TWEETS</div>
    <div class="app-id-gutter"></div>

    <div class="tweet" ng-repeat="tweet in tweets">
        <div class="tweet-box">
            <div class="user-head">
                <div class="col-20">
                    <div class="user-avatar" style="background-image: url({{tweet.user.profile_image_url}})"></div>
                </div>
                <div class="col-80">
                    <div><b>{{tweet.user.name}}</b></div>
                    <div class="user-handle">@{{tweet.user.screen_name}}</div>
                </div>
            </div>
            <div class="tweet-body">
                {{tweet.text}}
                <br/>
                <span class="hashtags" ng-repeat="hashtag in tweet.entities.hashtags">#{{hashtag.text}} </span>
            </div>
        </div>
    </div>
</div>
<div id="map-canvas"></div>

<!--
<div id="tweets-drawer">
    <div class="tweet" id="loc-card">
        <div class="tweet-box">
            <div id="location-text-cont">Found Tweets</div>
        </div>
    </div>
    <div class="tweet" ng-repeat="tweet in tweets">
        <div class="tweet-box">
            <div class="user-head">
                <div class="col-20">
                    <div class="user-avatar" style="background-image: url({{tweet.user.profile_image_url}})"></div>
                </div>
                <div class="col-80">
                    <div><b>{{tweet.user.name}}</b></div>
                    <div class="user-handle">@{{tweet.user.screen_name}}</div>
                </div>
            </div>
            <div class="tweet-body">
                {{tweet.text}}
                <span class="hashtags" ng-repeat="hashtag in tweet.entities.hashtags">#{{hashtag.text}} </span>
            </div>
        </div>
    </div>
</div>
-->

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA-cq1BDG40iEVQG3Bm6rCc5X2yMSvlYPc&callback=initMap"></script>
</body>
</html>