<!doctype html>
<html lang="en" ng-app="Twitplot">
<head>
    <meta charset="utf-8">
    <title>Twitplot</title>
</head>
<body ng-controller="MainController as MAIN">

<div id="twitplot-controls">
    <div id="app-id">Twitplot</div>
    <div id="app-id-gutter"></div>

    <div class="control-header">
        <div class="control-icon icon-container"><div></div></div>
        <div class="control-label">Search Parameters</div>
    </div>
    <div class="control-content">
        <div id="search-div">
            <div class="search-entry hashtag-search">#twitter</div>
            <div class="search-entry mention-search">@mention</div>
            <div class="search-entry creator-search">from: Lenka</div>
            <div class="search-entry generic-search">generic search</div>
            <input id="search-param-input" type="text" placeholder="Add Search..."/>
        </div>

    </div>

    <div class="control-header">
        <div class="control-icon icon-container"><div></div></div>
        <div class="control-label">Settings</div>
    </div>
    <div class="control-content">
        <div class="sub-control-header">WHAT TO PLOT</div>
        <div class="conf-list-container">
            <div class="conf-entry">
                <div class="conf-label">Tweet Geolocations</div>
                <div class="conf-action">
                    <modern-toggle on-toggle="MAIN.onToggle($value)" title="Toggle this"></modern-toggle>
                </div>
            </div>
            <div class="conf-entry">
                <div class="conf-label">User Locations</div>
                <div class="conf-action">
                    <div class="modern-toggle off animate2s"><div class="animate2s"></div></div>
                </div>
            </div>
            <div class="conf-entry">
                <div class="conf-label">Associated Locations</div>
                <div class="conf-action">
                    <div class="modern-toggle off animate2s"><div class="animate2s"></div></div>
                </div>
            </div>
        </div>
    </div>

</div>
<div id="map-canvas"></div>


<!--<div id="twitplot-controls">
    <div id="app-id">Twitplot</div>
    <div id="s-div">

        <div id="search-type-div">
            <div class="search-entry hashtag-search">#hashtag</div>
            <div class="search-entry mention-search">@mention</div>
            <div class="search-entry creator-search">by user</div>
            <div class="search-entry generic-search">in tweet</div>
        </div>

        <div id="search-div" contenteditable="true">
            <div class="search-entry hashtag-search" contenteditable="false">#twitter</div>
        </div>
        <!input style="margin-top: 20px" type="button" value="Test Twitter API" ng-click="getSearchResults('%23haiku+%23poetry')"/>
    </div>
</div>
<div class="right-sidebar">
    <div class="tweet" id="loc-card">
        <div class="tweet-box">
            <div id="location-text-cont">Found Tweets</div>
        </div>
    </div>
    <div class="tweet" ng-repeat="tweet in tweets">
        <div class="tweet-box">
            <div class="user-head">
                <div class="col-20">
                    <div class="user-avatar" style="background-image: url({{tweet.user.profile_image_url}})"></div>
                </div>
                <div class="col-80">
                    <div><b>{{tweet.user.name}}</b></div>
                    <div class="user-handle">@{{tweet.user.screen_name}}</div>
                </div>
            </div>
            <div class="tweet-body">
                {{tweet.text}}
                <span class="hashtags" ng-repeat="hashtag in tweet.entities.hashtags">#{{hashtag.text}} </span>
            </div>
        </div>
    </div>

</div>
-->
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA-cq1BDG40iEVQG3Bm6rCc5X2yMSvlYPc&callback=initMap"></script>
</body>
</html>